h1 {
    font-size: 48px;
    font-family: brevia, sans-serif;
    font-style: normal;
}

h2 {
    font-size: 32px;
    font-family: brevia, sans-serif;
    font-style: normal;
}

h3 {
    font-size: 24px;
    font-family: brevia, sans-serif;
    font-style: normal;
}

h5 {
    font-size: 18px;
    font-family: brevia, sans-serif;
    font-style: normal;
}

h6 {
    font-size: 14px;
    font-family: brevia, sans-serif;
    font-style: normal;
}
p {
    font-size: 15px;
    font-family: brevia, sans-serif;
    font-style: normal;
}

body {
    background-color: rgb(231, 233, 235);
}

.App {
    max-width: 1400px;
    min-height: 98px;
    margin: 0 auto;
}

/*Here we will begin the top header bar*/
.header_box {
    background-color: grey;
    max-width: 1400px;
    min-height: 98px;
    display: flex;
}

.header_container1 {
    background-color: #00539f;
    min-height: 98px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.header_container2 {
    background-color: #00539f;
    min-height: 98px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.dplanner_tag_cont {
    background-color: #135da1;
    width: 100%;
    height: 75px;
    border-radius: 0px 0px 0px 35px;
}

.dplanner_tag_cont h2 {
    color: white;
    text-align: start;
    padding-left: 15px;
    padding-top: 12px;
}

.dp_viewer_courses {
    display: flex;
    flex-direction: column;
}

.text_buttons_cont {
    background-color: #00539f;
    width: 100%;
    height: 50px;
}

/* This is all the text buttons that will link to other pages */
.textboxes {
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 10px;
}

/* This will make it so that the news, events, and matches link boxes are inline and structured */
.font_buttons_textboxes {
    display: flex;
    gap: 30px;
}

.font_buttons_textboxes h3 {
    font-family: brevia, sans-serif;
    font-size: 24px;
    font-style: normal;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* will make it so that underline appears when hoverd over, using psuedo class */
.font_buttons_textboxes h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: white;
    /* This makes it so that the underline appears fully and does not disappear when the font is too big for some letters */
    text-decoration-skip-ink: none;
}
.Dplist_container {
    padding-top: 15px;
}

/*Here we end the top header bar*/
.AddSaveButtons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    gap: 10px;
}
.newDpTitle {
    width: 50%;
    margin-bottom: 20px;
}

.howtotext_container {
    display: flex;
    flex-direction: column;
}
.howtotext_savewarning {
    padding-top: 15px;
    width: 50%;
}

.howtotext_info {
    padding-top: 15px;
    width: 50%;
}

.dp_cards a {
    text-decoration: none;
}

.dp_cards a:hover {
    background-color: rgb(41, 115, 185);
}

.searchBarContainer {
    display: flex;
    align-items: flex-start;
}

.addSemesterContainer {
    margin-bottom: 20px;
}

.searchBar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; /* Stack children vertically */
    margin-top: 10px; /* Adjust as necessary */
    width: 40%; /* Ensure full width */
}

.EnterCourseButton {
    margin-top: 10px; /* Adjust as necessary */
}

.searchBarTextfield {
    display: flex;
    align-items: center;
    width: 100%; /* Take full width of parent */
}
.searchBarTextfield input {
    flex-grow: 1; /* Input takes available space */
    margin-right: 10px; /* Spacing between input and button */
}

.coursesDropdown {
    width: 100%; /* Match width of the search bar */
    margin-top: 5px;
}

.searchBar input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

input:focus {
    outline: none;
}

.courseQuery {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.courseQuery::-webkit-scrollbar {
    display: none;
}

.courseQuery .courseItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.courseItem p {
    margin-left: 10px;
}

.coursesDropdown a {
    text-decoration: none;
}

.coursesDropdown a:hover {
    background-color: lightgrey;
}

/*This is start for the Tan Stack Table*/
.ts_header {
    padding: 2px 4px;
}
/*This is end for the Tan Stack Table*/

/* Tablet view */
@media (max-width: 768px) {
}

/* Mobile view */
@media (max-width: 400px) {
}
