.App {
    text-align: center;
}

.App-header {
    width: 100%;
    background-color: #282c34;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.newDpTitle {
    width: 50%;
    margin-bottom: 20px;
}

.searchBarContainer {
    display: flex;
    align-items: flex-start;
}

.addSemesterContainer {
    margin-bottom: 20px;
}

.searchBar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; /* Stack children vertically */
    margin-top: 10px; /* Adjust as necessary */
    width: 40%; /* Ensure full width */
}

.EnterCourseButton {
    margin-top: 10px; /* Adjust as necessary */
}

.searchBarTextfield {
    display: flex;
    align-items: center;
    width: 100%; /* Take full width of parent */
}
.searchBarTextfield input {
    flex-grow: 1; /* Input takes available space */
    margin-right: 10px; /* Spacing between input and button */
}

.coursesDropdown {
    width: 100%; /* Match width of the search bar */
    margin-top: 5px;
}

.searchBar input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

input:focus {
    outline: none;
}

.courseQuery {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.courseQuery::-webkit-scrollbar {
    display: none;
}

.courseQuery .courseItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.courseItem p {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}
